.project
.settings

.bem/cache
.bem/snapshots
.enb/tmp

libs
node_modules

coverage.json
/coverage

/vendor
composer.lock
composer.json

*.bundles/*/*
!*.bundles/.bem/*
!*.bundles/*/blocks
!*.bundles/*/*.bemjson.js

/dist
/*.docs
/*.examples
/*.specs
/*.tmpl-specs
/*.tests
/*.sets

